name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    full-test:
        container: cuaesd/aesd-autotest:24-assignment7-buildroot
        runs-on: ubuntu-latest
        timeout-minutes: 120
        steps:
         
          - name: Checkout submodules
            run: echo "git submodule update --init --recursive"
          
          - name: Run full test
            env:
              GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
            run: echo "./full-test.sh "
          
